<div class="row">
  <div class="col s12 m6">
    <div class="section">
      <span style="font-size: 2.2rem;">Reservering</span>
      <p style="font-size: 1.5rem;">Code:  <span style="font-size: 1.3rem; color: grey">{{reservering.code}}</span></p>
      <p style="font-size: 1.5rem;">Aantal personen:  <span style="font-size: 1.3rem; color: grey">{{reservering.aantalPersonen}}</span></p>
      <p style="font-size: 1.5rem;">Tafelnummer:  <span style="font-size: 1.3rem; color: grey">{{reservering.tafel.nummer}}</span></p>
    </div>
    <div class="divider" style="margin: 20px 0;"></div>
    <div class="section">
      <span style="font-size: 2.2rem">Contactpersoon</span>
      <p style="font-size: 1.5rem;">Naam:  <span style="font-size: 1.3rem; color: grey">{{reservering.contactpersoon.naam}}</span></p>
      <p style="font-size: 1.5rem;">Telefoon:  <span style="font-size: 1.3rem; color: grey">{{reservering.contactpersoon.telNr}}</span></p>
      <p style="font-size: 1.5rem;">Email:  <span style="font-size: 1.3rem; color: grey">{{reservering.contactpersoon.email}}</span></p>
      <div class="valign-wrapper">
        <span style="font-size: 1.5rem; margin-right: 20px;">Heeft u klachten? </span>
        <div class="switch">
          <label>
            Nee
            <input type="checkbox" id="klachtSwitchContactpersoon" checked (change)="onChangeKlachtSwitch($event)">
            <span class="lever"></span>
            Ja
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="section">
      <div class="valign-wrapper" style="margin-bottom: 30px;">
        <span style="font-size: 2.2rem; margin-right: 20px;">Extra gast(en)</span>
        <a [ngClass]="{'disabled' : isAantalPersonenBereikt()}" class="waves-effect waves-light btn-small modal-trigger" href="#persoonRegistratieModal">Toevoegen</a>
      </div>
      <ul *ngIf="gasten.length !== 0" class="collection">
        <li *ngFor="let p of gasten" class="collection-item avatar">
          <i class="material-icons circle teal">person</i>
          <span class="title">{{p.naam}}</span>
          <p>{{p.telNr}} <br>
            {{p.email}}
          </p>
          <a (click)="removePersoon(p)" class="secondary-content"><i class="material-icons">delete</i></a>
        </li>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="section">
      <button (click)="AddBezoek()" [ngClass]="{'disabled' : isKlachtSwitchVoorContactpersoonChecked}" class="btn waves-effect waves-light right" name="action">Opslaan
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="persoonRegistratieModal" class="modal">
  <form class="col s12" [formGroup]="persoonRegistratieForm">
    <div class="modal-content">
      <h4>Voeg gast toe</h4>
      <div class="valign-wrapper">
        <span style="font-size: 1.5rem; margin-right: 20px;">Heeft u klachten? </span>
        <div class="switch">
          <label>
            Nee
            <input (change)="onChangeKlachtSwitch($event)" type="checkbox" id="klachtSwitchExtraGast" checked>
            <span class="lever"></span>
            Ja
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="naam" id="naam" type="text" class="validate">
          <label for="naam">Naam</label>
          <span *ngIf="persoonRegistratieForm.controls.naam.touched && persoonRegistratieForm.controls.naam.invalid">Vul een correcte naam in.</span>
        </div>
        <div class="input-field col s12">
          <input formControlName="telNr" id="telnr" type="text" class="validate">
          <label for="telnr">Telefoonnummer</label>
          <span *ngIf="persoonRegistratieForm.controls.telNr.touched && persoonRegistratieForm.controls.telNr.invalid">Vul een correct telefoonnummer in.</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
          <span *ngIf="persoonRegistratieForm.controls.email.touched && persoonRegistratieForm.controls.email.invalid">Vul een correcte email in.</span>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="addPersoon()" [ngClass]="{'disabled' : isKlachtSwitchVoorExtraGastChecked}" [disabled]="persoonRegistratieForm.invalid" class="btn waves-effect waves-light" type="submit" name="action" >Toevoegen
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
