.reservering-attr-titel {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .valign-wrapper {
    flex-wrap: wrap !important;
  }
}

@media only screen and (min-width: 1200px) {
  #persoonRegistratieModal {
    width: 30%;
  }
}
