  <div class="row">
    <div class="col right">
      <a routerLink="/reservering-create" class="waves-effect waves-light btn">Maak reservering aan</a>
    </div>
  </div>

<h2>Reserveringen</h2>
<table class="responsive-table highlight">
  <thead>
  <tr>
    <th>Code:</th>
    <th>Datum:</th>
    <th>Aantal personen:</th>
    <th>Op naam:</th>
    <th>Tijdslot:</th>
    <th>Inboeken</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of reserveringen">
    <td>{{r.code}}</td>
    <td>{{r.reserveringsDatum}}</td>
    <td>{{r.aantalPersonen}}</td>
    <td>{{r.contactpersoon.naam}}</td>
    <td>{{r.tijdSlot}}</td>
    <td>
      <a routerLink="/reservering/{{r.id}}"><i class="material-icons">send</i></a>
    </td>
  </tr>
  </tbody>
</table>
