  <div class="row">
    <div class="col right">
      <a routerLink="/reservering-create" class="waves-effect waves-light btn">Maak reservering aan</a>
    </div>
  </div>

  <h2>Reserveringen</h2>

  <div class="row">
    <div id="searchFieldWrapper" class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input [(ngModel)]="searchCriterium" id="searchField" type="text" class="validate">
      <label for="searchField">Zoek op naam of reserveringscode</label>
    </div>
  </div>

<table class="responsive-table highlight">
  <thead>
  <tr>
    <th>Code:</th>
    <th>Datum:</th>
    <th>Aantal personen:</th>
    <th>Op naam:</th>
    <th>Tijdslot:</th>
    <th>Inboeken</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of reserveringen|filter:searchCriterium">
    <td>{{r.code}}</td>
    <td>{{r.reserveringsDatum}}</td>
    <td>{{r.aantalPersonen}}</td>
    <td>{{r.contactpersoon.naam}}</td>
    <td>{{r.tijdSlot}}</td>
    <td>
      <a routerLink="/reservering/{{r.id}}"><i class="material-icons">send</i></a>
    </td>
  </tr>
  </tbody>
</table>

