
<div class="row">
  <div class="col s12 xl4">
    <h2>Reserveringen</h2>
  </div>
  <div class="col s12 xl3 offset-xl5 right-align">
    <a class="waves-effect waves-light btn modal-trigger" href="#reserveringRegistratieModal">Maak reservering aan</a>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input [(ngModel)]="searchCriterium" id="searchField" type="text" class="validate">
    <label for="searchField">Zoek op naam of reserveringscode</label>
  </div>
</div>

<table class="responsive-table highlight">
  <thead>
  <tr>
    <th>Code:</th>
    <th>Datum:</th>
    <th>Aantal personen:</th>
    <th>Op naam:</th>
    <th>Tijdslot:</th>
    <th>Inboeken</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of reserveringen|filter:searchCriterium" *ngIf="r.">
    <td>{{r.code}}</td>
    <td>{{r.datum}}</td>
    <td>{{r.aantalPersonen}}</td>
    <td>{{r.contactpersoon.naam}}</td>
    <td>{{r.tijdSlot}}</td>
    <td>
      <a routerLink="/reservering/{{r.id}}"><i class="material-icons">send</i></a>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal Structure -->
<div id="reserveringRegistratieModal" class="modal">
  <form class="col s12" [formGroup]="reserveringForm">
    <div class="modal-content">
      <h4>Maak reservering aan</h4>
      <div class="row">
        <div class="input-field col s12 m6">
          <input formControlName="naam" id="naam" type="text" class="validate">
          <label for="naam">Naam</label>
          <span *ngIf="reserveringForm.controls.naam.touched && reserveringForm.controls.naam.invalid">Vul een correcte naam in.</span>
        </div>
        <div class="input-field col s12 m6">
          <input formControlName="telNr" id="telnr" type="text" class="validate">
          <label for="telnr">Telefoonnummer</label>
          <span *ngIf="reserveringForm.controls.telNr.touched && reserveringForm.controls.telNr.invalid">Vul een correct telefoonnummer in.</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input formControlName="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
          <span *ngIf="reserveringForm.controls.email.touched && reserveringForm.controls.email.invalid">Vul een correcte email in.</span>
        </div>
        <div class="input-field col s12 m6">
          <input formControlName="aantalPersonen" id="aantalPersonen" type="number" class="validate">
          <label for="aantalPersonen">Aantal personen</label>
          <span *ngIf="reserveringForm.controls.aantalPersonen.touched && reserveringForm.controls.aantalPersonen.invalid">Vul een correct aantal personen in. (minimaal 1, maximaal 4)</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <select class="input" id="tijdslotSelect" formControlName="tijdSlot">
            <optgroup label="Lunch">
              <option value="1">12 - 13 uur</option>
              <option value="2">13 - 14 uur</option>
              <option value="3">14 - 15 uur</option>
              <option value="4">15 - 16 uur</option>
              <option value="5">16 - 17 uur</option>
            </optgroup>
            <optgroup label="Diner">
              <option value="6">17 - 19 uur</option>
              <option value="7">19 - 21 uur</option>
            </optgroup>
          </select>
          <label>Tijdslot</label>
        </div>
        <div class="input-field col s12 m6">
          <input formControlName="datum" id="datum" type="date" class="validate">
          <label for="datum">Datum</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="addReservering()" [disabled]="reserveringForm.invalid" class="btn waves-effect waves-light" type="submit" name="action" >Opslaan
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
