<div class="row">
  <div class="col s12 xl6">
    <h1>Welkom bij restaurant De Hoestschaamte!</h1>
    <h6>Op dit moment staan in het systeem:</h6>
  </div>

  <div class="col s1 xl3 offset-xl3 right-align">
    <p>Mederwerkers aanwezig: 0</p>
    <p>{{huidigeDatum | date}}</p>
    <p>{{huidigeDatum | date:'shortTime'}}</p>
  </div>
</div>


<div class="row">
  <div clas="col s12">
    <h3>Reserveringen: {{getReserveringen().length}}</h3>
  </div>
</div>

<div class="row">
  <div clas="col s12">
    <h3>Bezoeken: {{getBezoeken().length}}</h3>
  </div>
</div>

