<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID:</th>-->
<!--    <th>Datum:</th>-->
<!--    <th>Code:</th>-->
<!--    <th>Aantal personen:</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let r of reserveringen">-->
<!--    <td>{{r.id}}</td>-->
<!--    <td>{{r.reserveringsDatum}}</td>-->
<!--    <td>{{r.code}}</td>-->
<!--    <td>{{r.aantalPersonen}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div id="buttonContainerNewReserv">
  <button id="addReserveringButton">&#43; Nieuwe Reservering</button>
</div>


<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Naam" id="naam" type="text" class="validate">
          <label for="naam">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Telefoon" id="telefoon" type="text" class="validate">
          <label for="telefoon">Telefoon</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Datum" id="datum" type="text" class="validate">
          <label for="datum">Datum</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Tijdslot" id="tijdslot" type="number" class="validate">
          <label for="tijdslot">Tijdslot</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Aantal gasten" id="aantlGasten" type="number" class="validate">
          <label for="aantalGasten">Aantal gasten</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Aantal gasten" id="aantalGasten" type="number" class="validate">
          <label for="aantalGasten">Aantal gasten</label>
        </div>
      </div>
    </form>
  </div>
</div>
<a class="waves-effect waves-light btn">Opslaan</a>

<h2>Reserveringen</h2>
<table class="responsive-table highlight">
  <thead>
  <tr>
    <th>ID:</th>
    <th>Datum:</th>
    <th>Code:</th>
    <th>Aantal personen:</th>
    <th>Op naam:</th>
    <th>Tijdslot:</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of reserveringen">
    <td>{{r.id}}</td>
    <td>{{r.reserveringsDatum}}</td>
    <td>{{r.code}}</td>
    <td>{{r.aantalPersonen}}</td>
    <td>{{r.tijdSlot}}</td>
  </tr>
  </tbody>
</table>
