<div class="row">
  <div class="col s12 xl4">
    <h2>Bezoeken</h2>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input [(ngModel)]="searchCriterium" id="searchField" type="text" class="validate">
    <label for="searchField">Zoek op naam</label>
  </div>
</div>

<table class="responsive-table highlight">
  <thead>
  <tr>
    <th>#</th>
    <th>Datum:</th>
    <th>Tijdslot:</th>
    <th>Tafelnummer:</th>
    <th>Personen</th>
    <th>Besmetting melden</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of bezoeken|bezoekFilter:searchCriterium, let i = index" [attr.data-index]="i">
    <td>{{i}}.</td>
    <td>{{b.datum}}</td>
    <td>{{b.tijdSlot}}</td>
    <td>{{b.tafel.nummer}}</td>
    <td>
      <span *ngFor="let p of b.gasten">
              {{p.naam}} <br />
      </span>
    </td>
    <td>
      <a (click)="initializeBezoek(b)" class="waves-effect waves-light modal-trigger" href="#besmettingModal"><i class="material-icons">feedback</i></a>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal Structure -->
<div id="besmettingModal" class="modal">
  <div style="padding: 50px;">
    <h4>Welk persoon is besmet geraakt?</h4>
    <ul *ngIf="gasten.length !== 0" class="collection">
      <li *ngFor="let p of gasten" class="collection-item avatar">
        <i class="material-icons circle teal">person</i>
        <span class="title">{{p.naam}}</span>
        <p>{{p.telNr}} <br>
          {{p.email}}
        </p>
        <a (click)="besmettingDoorvoeren(p)" class="secondary-content">Besmettingsrapport maken</a>
      </li>
    </ul>
  </div>

</div>
